<ion-header>
  <ion-navbar>
    <ion-title>Residence List</ion-title>
    <ion-col center text-center>
    </ion-col>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-searchbar placeholder="Filter"> </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
  
  
  <ion-list *ngFor="let post of posts | async">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="../assets/imgs/sakann.jpg" />
      </ion-thumbnail>

      <ion-item  (click)="selectpost(post.key)">
        {{ post.payload.val().price }} 
        {{ post.payload.val().description }}
      
      </ion-item>
      <button ion-button clear item-end>145$</button>
    </ion-item>
  </ion-list>

  
</ion-content>
