<ion-header>
  <ion-navbar>
    <ion-title>Seller Profile</ion-title>
    <ion-col center text-center>
    </ion-col>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-content>
    <br>
    <button *ngIf="userData" ion-button outline style="margin-left: 13px">{{userData.FullName}}</button>
    <div float-right>
      <ion-icon (click) = "openquestionpage()" name="add" style="padding: 5px 15px; font-size: 35px;">

    </ion-icon>
  </div>
  
  
  <ion-card  *ngFor="let post of posts | async">
    <img src="../assets/imgs/sakann.jpg" />
    <ion-card-content>
      <ion-card-title>
        Residence (1)
      </ion-card-title>
      <p>
       <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name=""></ion-icon>
              <ion-item >
                {{ post.payload.val().gender }} 
               </ion-item>
                 

              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-start clear small>
                <ion-icon name=""></ion-icon>
                <div style="margin-right:150px">* 170 Meters</div>
              </button>
            </ion-col>
            <ion-col center text-center>

            </ion-col>
          </ion-row>
        </p>
        <div float-right>
          <button  (click)="selectpost(post.key)" ion-button outlinestyle="margin-left: 75px">Preview</button>

      </div>
    </ion-card-content>
  </ion-card>
 
 
 
 
  
</ion-content>
