<ion-header>
  <ion-navbar>
    <ion-title>Residence Profile</ion-title>
    <ion-col center text-center>
    </ion-col>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="post">


  </div>

  <ion-slides autoplay="3000" loop="true" speed="3000" style="margin-top: -180px">
    <ion-slide *ngFor="let image of ImageArray">
      <img src="{{image.image}}" style="width: 100%; height: 200px;">
    </ion-slide>
  </ion-slides>

  <br>
  
  <br>
  <br>
  <br>


  
  <div *ngIf = "post" style="margin-top: -200px">
   
    <ion-item>
      <ion-label color="primary">{{post.price}}</ion-label>
    </ion-item>
    <br>
    <br>

    
    <ion-item>
      <ion-label color="primary">{{post.university}}</ion-label>
    </ion-item>
    <br>
    <br>

    <ion-item>
      <ion-label color="primary">{{post.service}}</ion-label>
    </ion-item>
    <br>
    <br>

    <ion-item>
      <ion-label color="primary">{{post.gender}}</ion-label>
    </ion-item>
    <br>
    <br>

    <ion-item>
      <ion-label color="primary">{{post.transportation}}</ion-label>
    </ion-item>
    <br>
    <br>

    
    <ion-item>
      <ion-label color="primary">{{post.description}}</ion-label>
    </ion-item>

    <br>
    <br> 
    

    <ion-item>
      <ion-label color="primary">{{post.location}}</ion-label>
    </ion-item>

    <br>
    <br> 
    
  </div>
  <div >

    <a href="tel:001180000000" style="width: 45%; float: left;" ion-button>Call</a>

    
  </div>
  
</ion-content>