page-form {

    .term
    {
      padding-top: 20px;
    }
  
    .terms-checkbox-label
    {
      overflow: visible;
      text-overflow: initial;
      white-space: initial;
      opacity: 0.5;
      font-size: 14px;
      font-weight: bold;
    }
  
  
  
    .pin{
      font-size: 400%;
      float: left;
    }
    .Location{
      //float: left;
      margin-bottom:130px;
      margin-right: 100px;
    }
    .camera{
      float: right;
    }
  }