<ion-header>
  <ion-navbar>
    <ion-title>Residence Attributes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="form-content">
    <ion-item>
      <ion-label type="text" floating color="primary">Price</ion-label>
      <ion-input  [(ngModel)]="price" type="text" class="form-control" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label type="text" floating color="primary">university</ion-label>
      <ion-input [(ngModel)]="university" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label type="text" floating color="primary">Transportation</ion-label>
      <ion-input [(ngModel)]="transportation" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label type="text" floating color="primary">Gender</ion-label>
     
      <ion-select [(ngModel)]="gender" >
        <ion-option *ngFor="let gender of genders" [value]="gender" >{{ gender }}</ion-option>
      </ion-select>
    </ion-item>


    <div>
      <ion-item>
        <ion-label type="text" floating color="primary">Services</ion-label>
        <ion-select multiple="true" [(ngModel)]="services" >
          <ion-option *ngFor="let item of services" [value]="item" >{{item}}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-item>
      <ion-input [(ngModel)]="description" type="text" placeholder="Description" color="primary">Description</ion-input>
        <!--<ion-label [(ngModel)]="description" type="text" floating color="primary">Description</ion-label>
        <ion-input type="text"></ion-input>-->
      </ion-item>
    <button style="width: 45%;" ion-button icon-location>
        <ion-icon  style="margin-right: 5%" name="pin"></ion-icon>
        Location
      </button>
    <button class="camera" style="width: 50%;" ion-button icon-camera>
        <ion-icon style="margin-right: 5%" name="camera"></ion-icon>
        Upload image
      </button>
    
    <button ion-button full (click)= "addPost()">Submit</button>


</ion-content>
